<nav class="navbar navbar-expand-lg" style="background-color:#383838">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" id="namebar">
        <h2 id="top">MEMEARY<img alt="image" class="responsive" id="icon" src="/styles/images/noun.png">
        </h2>

      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-link" href="/create">CREATE+</a>
      </li>
    </ul>


  </div>

  </div>
</nav>





<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1> --}}
        <h2 id="titleTop">Explore...</h2>
        <hr>
        <br>

        <div class="typewriter">
          <h1 id="typeText">collection of awesome memes..</h1>
        </div>

        <br>
        <br>
        <div class="container">
          <div class="card mb-3">
            <img src="/styles/images/kermit.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sad Kermit</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme was created to represent a "sad and depressing" moment in one's life.</p>
              <h6>Example:</h6>
              <p class="card-text">When you see all your friends at a party but never got an invite.</p>

              <p class="card-text"><small class="text-muted">Unknown</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/egg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Crying in Bed</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This crying egg in bed was created to represent silent tears.</p>
              <h6>Example:</h6>
              <p class="card-text">When you're in bed crying but your whole family is sleeping and you don't want to
                wake them.</p>

              <p class="card-text"><small class="text-muted">Unknown</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/persian.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Persian Cat</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme represents a WTF moment.</p>
              <h6>Example:</h6>
              <p class="card-text">When your friend wants to go out to eat but doesn't bring their wallet.</p>

              <p class="card-text"><small class="text-muted">Unknown</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/fall.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">I've fallen and I can't get up</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme was created to humiliate those who fall in dramatic ways.</p>
              <h6>Example:</h6>
              <p class="card-text">When your friend misses a step and acts like she ded.</p>

              <p class="card-text"><small class="text-muted">Unknown.</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/ad.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">You are so dumbb. FOR REAL.</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme originated from YouTube. It was created after Antoine Dodson's interview
                where someone broke into his sisters room. His line "You are so dumb. for real" made him viral.</p>
              <h6>Example:</h6>
              <p class="card-text">When your friend asks the same question twice.</p>

              <p class="card-text"><small class="text-muted">YouTube</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/arthur.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Arthur's Fist</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme was created to portray a stresful and angry moment, hence the clenching
                of
                the fist.</p>
              <h6>Example:</h6>
              <p class="card-text">When your gf says she's not hungry but takes all your food once it comes out.</p>

              <p class="card-text"><small class="text-muted">Arthur</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/krab.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mr Krabbs</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme represents a "out of mind" or "mind-blowing" moment.</p>
              <h6>Example:</h6>
              <p class="card-text">When someone tells you that you can learn code within 3 months.</p>

              <p class="card-text"><small class="text-muted">Unknown</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/homer.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dissapearing Homer</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme represents people who leave without notice.</p>
              <h6>Example:</h6>
              <p class="card-text">When you finesse a drink at the club and say you need to use the bathroom right
                after (peace).</p>

              <p class="card-text"><small class="text-muted">Unknown</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/think.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Thinking Man</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme was created to be used as an expression of your intelligence.</p>
              <h6>Example:</h6>
              <p class="card-text">Person 1: What rhymes orange? <br> Person 2: Door Hinge <br> Person 1: ..</p>

              <p class="card-text"><small class="text-muted">Unknown</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <img src="/styles/images/kj.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Look at how much I care</h5>
              <h6>About the Meme:</h6>
              <p class="card-text">This meme was created to represent how little someone cares.</p>
              <h6>Example:</h6>
              <p class="card-text">When the person who wasn't a part of the conversation inputs their opinion.</p>

              <p class="card-text"><small class="text-muted">Unknown</small></p>
              <p>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                  Love it
                </a>
                <span id="count-{{this.id}}">{{this.likesNum}}</span>
                <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                  it</a>
                <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>
              </p>
            </div>
          </div>





        </div>

        {{!-- <h3 id="heads1">MEMES:</h3> --}}
        <ul id="list" class="list-group">
          {{#each examples}}

          <li data-id="{{this.id}}" class="list-group-item">
            <img src={{this.image}}>
            <a href="example/{{this.id}}">
              <h5 class="card-title"> {{this.title}}</h5>
              <h6>About this meme:</h6>
              <p>{{this.description}}</p>
              <h6>Example:</h6>
              <p>{{this.example}}</p>
              <p class="card-text"><small class="text-muted">{{this.author}}</small></p>
              <p>
            </a>
            <button class="btn btn-danger float-right delete">ｘ</button>
            <p>
              <a data-id="{{this.id}}" title="Love it" class="btn btn-counter likes"><span>&#x2764;</span>
                Love it
              </a>
              <span id="count-{{this.id}}">{{this.likesNum}}</span>
              <a data-id="{{this.id}}" title="Love it" class="btn btn-counter dislike"><span>&#128532;</span>Hate
                it</a>
              <span id="counts-{{this.id}}">{{this.dislikesNum}}</span>

            </p>

          </li>
          {{/each}}
        </ul>



      </div>
    </div>



    <br>






    <nav class="navbar" id="footer" style="background-color:white">
      <p class="footer-text" id="ftext">MEMEARY © 2019</p>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="nav-link scroll" href="#top">^^ Go back up ^^</a>
        </li>
      </ul>
    </nav>

  </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous">
<script src="js/index.js"></script>